/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100vw;
  overflow-x: scroll;
  white-space: nowrap;

}

ul li {
  width: fit-content;
}

ul li a {
  display: inline-block;
  padding: .7em 1em;
  margin: 1em .2em;

  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(203, 203, 203);
  border-radius: 10em;

  font-size: 1em;
  text-decoration: none;
}

section {
  margin-bottom: 2em;
}

section img {
  width: 100vw;
}

li img {
  width: 12em;
}

h1 {
  font-size: xx-large;
  position: absolute;
  top: 10em;
}

li p {
  font-size: small;
}

.roze {
  background-color: rgb(249, 159, 201);
}

.badkuip {
  height: 40em;
  width: fit-content;
  background-color: rgb(249, 159, 201);
}