/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0; 
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100vw;
  overflow-x: scroll;
  white-space: nowrap;

}

ul li {
  width: fit-content;
}

ul li a {
  display: inline-block;
  padding: .7em 1em;
  margin: 1em .2em;

  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(203, 203, 203);
  border-radius: 10em;

  font-size: 1em;
  text-decoration: none;
}

section {
  margin-bottom: 2em;
}

section img {
  width: 100vw;
}

li img {
  width: 12em;
  margin: 1em;
}

h1 {
  font-size: xx-large;
  position: absolute;
  top: 10em;
  margin: 1em;
}

h2 {
  margin: 0 1em;
}

h3 {
  margin: 0 1em;
}

h4 {
  margin: 0 1em;
}

h5 {
  margin: 0 1em;
}

button {
  margin: 0 1em;
}

p {
  margin: 1em;
  padding-bottom: 1em;
}

li p {
  font-size: small;
}

/*Eerste roze stuk*/
section:nth-of-type(4){
  padding-top: 2em;
  height: 20em;
  background-color: rgb(249, 159, 201);
}

/*Tweede roze stuk*/
section:nth-of-type(8){
  padding-top: 2em;
  height: 100em;
  width: fit-content;
  background-color: rgb(249, 159, 201);
}

/*Groene stuk*/
section:nth-of-type(9){
  padding-top: 2em;
  height: 20em;
  background-color: rgb(56, 217, 201);
}

/*Zeep*/
section:nth-of-type(11){
  background-image: url("../images/afbeeldingen homepagina/misrule-banner-v2_984f2211.jpg");
}